body{ /*Selector del body*/
    background: #FFFFFF;
}
#banner{
    width:100%;
}
.principal{
    background: #CCCCCC;
}
h1{
    text-align: center;
}

p{/* Selector p*/
    text-align: center;
    background: #CCCCCC;
}

 em strong{/*selector de las etiquetas padre em e hijo strong*/
    color: red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
}
h2{
    text-align: center;
}
/*Para referenciar clases empezamos con un punto*/
.items{
    font-style: italic;
}